.profileText {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 0.5rem;
}
.profileText button {
  align-self: center;
  margin: 1rem;
}

.profileText label {
  margin: 0.2rem 0;
  position: relative;
}

.profileText h3 {
  border-bottom: 1px solid var(--nav-line-color);
  max-width: fit-content;
  margin: 0.5rem 0;
  display: inline-block;
}
.profileText h4 {
  margin-left: 1rem;
}

.profileText input {
  display: block;
  margin: 0.4rem 0 0.4rem 1.5rem;
  padding: 0.9rem;
  width: 100%;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.75rem;
  transition: all 200ms ease-in;
  border: 1px solid var(--form-item-border-color);
  background-color: var(--form-item-bg-color);
  color: var(--primary-text-color);
}

.profileText input:active,
.profileText input:hover,
.profileText input:focus {
  outline: none;
  border: 1px solid var(--primary-color-100);
}

.error input,
.error input:active,
.error input:hover {
  border: 1px solid var(--button-delete-bg);
}

.error p {
  position: absolute;
  top: 32%;
  right: -3%;
  font-size: 0.6rem;
  text-align: end;
  color: var(--button-delete-bg);
}
