.profile {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profileHead {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.profilePic {
  border-radius: 50%;
}
