.card {
  background-color: var(--primary-bg-color-100);
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 5px var(--primary-bg-color-300);
  border-radius: 7px;
  transition: all 200ms ease-in;
  border: 1px solid transparent;
}

.grid-invoiceList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'a  b'
    'c  e'
    'd  e';
}
.grid-invoiceList:hover {
  border: 1px solid var(--primary-color-200);
}

.grid-invoiceDetails {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'a  a'
    'b  b'
    'c  e'
    'd  e'
    'f  f'
    'g  g';
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemsListTopSM {
  background-color: var(--primary-bg-color-300);
  padding: 1.5rem;
  box-shadow: none;
  border-radius: 7px 7px 0 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.itemsListTopSM > h4 {
  justify-self: end;
}
.itemsListTopSM p {
  font-weight: 700;
  margin-top: 0.5rem;
}

.itemsListTopLG {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: end;
  gap: 2rem;
}

.itemsListTopLG h4 {
  justify-self: left;
}

.itemsTotal {
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  box-shadow: none;
  border-radius: 0 0 7px 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.itemsTotal > * {
  color: #ffffff;
}

.confirmModal {
  position: absolute;
  left: 50vw;
  top: 50vh;
  z-index: 100;
  transform: translate(-50%, -50%);
  min-width: 327px;
  max-width: 480px;
  min-height: 220px;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.confirmModal div {
  align-self: flex-end;
}

.confirmModal button {
  margin-right: 0.5rem;
}

.filterCard {
  position: absolute;
  top: 120%;
  left: -25%;
  display: flex;
  flex-direction: column;
  animation: appear 200ms ease-in forwards;
}

.filterCard h4 {
  display: inline-block;
  margin-left: 1rem;
}
.filterCard li:hover {
  color: var(--primary-color-100);
}

.userMenu {
  position: absolute;
  top: 110%;
  right: 0;
  display: flex;
  flex-direction: column;
  animation: appear 200ms ease-in forwards;
  background: #1e2139;
  box-shadow: none;
  z-index: 80;
}

.userMenu ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  padding: 0 1.5rem;
}

.userMenu ul li {
  border-bottom: 1px solid var(--nav-line-color);
  padding: 0 0 0.8rem !important;
}

.profile {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  gap: 1rem;
  margin: 0 1rem;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .grid-invoiceList {
    gap: 0rem;
    grid-template-columns: 3fr repeat(4, 4fr) 1fr;
    grid-template-areas: 'a  c  b  d  e  f';
  }
  .grid-invoiceDetails {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      'a  a  a  b  b'
      'c  e  e  f  f'
      'd  e  e  f  f'
      'g  g  g  g  g';
  }
}

@media screen and (min-width: 960px) {
  .profile {
    flex-direction: row;
    gap: 5rem;
  }
}
@media screen and (min-width: 1020px) {
  .userMenu {
    top: -350%;
    right: -430%;
  }
}
