.fieldset {
  margin-bottom: 1.5rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.billFrom {
  grid-template-areas:
    'a  a'
    'b  c'
    'd  d';
}

.billTo {
  grid-template-areas:
    'a  a'
    'b  b'
    'c  c'
    'd  e'
    'f  f';
}

.terms {
  grid-template-areas:
    'a  a'
    'b  b'
    'c  c';
}

.itemList {
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 1rem;
}

.fieldset legend {
  color: var(--primary-color-200);
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .fieldset {
    grid-template-columns: repeat(3, 1fr);
  }

  .billFrom {
    grid-template-areas:
      'a  a  a'
      'b  c  d';
  }

  .billTo {
    grid-template-areas:
      'a  a  a'
      'b  b  b'
      'c  c  c'
      'd  e  f';
  }

  .terms {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'a  b'
      'c  c';
  }

  .itemList {
    grid-template-columns: 40% 10% 20% 10% 10%;
  }
}
