.invoicesheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.control {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.filterControl {
  cursor: pointer;
}

.filterControl h4 img {
  display: inline-block;
  margin-left: 0.75rem;
  cursor: pointer;
}
