.invoicesheader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

.totalInvoices {
  color: var(--secondary-text-color-300);
}

.control {
  display: flex;
  gap: 1rem;
  align-items: center;
}
