.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
  justify-self: flex-end;
  color: var(--secondary-text-color-200);
}

.item3 {
  grid-area: c;
  margin-top: 1.5rem;
}

.item3 span {
  color: var(--secondary-text-color-300);
  margin-right: 0.4rem;
}

.item4 {
  margin-top: 0.5rem;
  grid-area: d;
}
.item5 {
  grid-area: e;
  justify-self: flex-end;
  align-self: flex-end;
}
.item6 {
  grid-area: f;
}

@media screen and (min-width: 768px) {
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6 {
    align-self: center;
    margin: 0;
  }
  .item1,
  .item2,
  .item3 {
    justify-self: flex-start;
  }
  .item4,
  .item5,
  .item6 {
    justify-self: flex-end;
  }
}
