.item1 {
  grid-area: 'a';
  justify-self: start;
}

.item1 span {
  color: var(--secondary-text-color-100);
}

.item2 {
  grid-area: 'b';
  justify-self: end;
  color: var(--secondary-text-color-200);
}

.item3 {
  grid-area: 'c';
  justify-self: start;
}

.item3 h3 {
  margin: 0.1rem 1rem 0 0;
}
.item3 p {
  color: var(--secondary-text-color-100);
}
.item3 p span {
  color: var(--secondary-text-color-300);
}
