.homePage {
  background: url('../../assets/homepagebg.jpg') center center/cover;
  height: calc(100vh - 72px);
  width: 100%;
  color: #fff;
}

.homePage::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
