.total h4 {
  color: var(--secondary-text-color-300);
  margin-top: 1.75rem;
}

.gridItem input,
.gridItem select,
.gridItem select option {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 0.9rem;
  border-radius: 5px;
  border: 1px solid var(--form-item-border-color);
  color: var(--button-draft-bg-hover);
  font-weight: 700;
  font-size: 0.75rem;
  transition: all 200ms ease-in;
  background-color: var(--form-item-bg-color);
  color: var(--primary-text-color);
}
.gridItem select {
  padding: 1rem;
}

.gridItem select:focus,
.gridItem select:active,
.gridItem select:hover,
.gridItem input:active,
.gridItem input:hover,
.gridItem input:focus {
  outline: none;
  border: 1px solid var(--primary-color-100);
}

.gridItem input:invalid {
  border: 1px solid var(--button-delete-bg);
}

.gridArea1 {
  grid-area: a;
}
.gridArea2 {
  grid-area: b;
}
.gridArea3 {
  grid-area: c;
}
.gridArea4 {
  grid-area: d;
}
.gridArea5 {
  grid-area: e;
}
.gridArea6 {
  grid-area: f;
}

.gridAreaItemName {
  grid-column: span 4;
}

.pricebox {
  display: flex;
  align-items: center;
  position: relative;
}
.pricebox span {
  top: 25px;
  left: 5px;
  position: absolute;
  font-weight: 700;
  font-size: 0.75rem;
}

.error p {
  position: relative;
  color: var(--button-delete-bg);
}
.error span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.6rem;
  text-align: end;
  color: var(--button-delete-bg);
}
.error p {
  position: relative;
  color: var(--button-delete-bg);
}
.error input,
.error input:active,
.error input:hover {
  border: 1px solid var(--button-delete-bg) !important;
}

@media screen and (min-width: 768px) {
  .gridAreaItemName {
    grid-column: unset;
  }
}
