.controls {
  width: 100%;
  height: 91px;
  background-color: var(--primary-bg-color-100);
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  align-items: center;
  margin-top: 5.5rem;
  padding-right: 1.5rem;
  box-shadow: 0px -34px 34px rgba(30, 33, 57, 0.1);
}

.error {
  font-size: 0.6rem;
  margin-top: 1rem;
  color: var(--button-delete-bg);
}
