.btn {
  height: 44px;
  border: none;
  border-radius: 35px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.25px;
  text-align: center;
  padding: 1rem 1.5rem;
  transition: all 200ms ease-in;
  cursor: pointer;
}

.btn:disabled {
  cursor: progress;
}

.primary-img img {
  display: inline;
  margin: 0 0.5rem 0 0;
  padding: 11px;
  border-radius: 100%;
  background-color: #fff;
  vertical-align: middle;
}

.primary-img {
  padding: 0 1rem 0 0.5rem;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text-color);
}
.primary-img:hover {
  background-color: var(--button-primary-bg-hover);
}

.primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text-color);
}
.primary:hover {
  background-color: var(--button-primary-bg-hover);
}

.nav {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text-color);
  animation: button 4s forwards infinite;
}
.nav:hover {
  background-color: var(--button-primary-bg-hover);
}

.edit {
  background-color: var(--button-edit-bg);
  color: var(--button-edit-text-color);
}
.edit:hover {
  background-color: var(--button-edit-bg-hover);
}
.draft {
  background-color: var(--button-draft-bg);
  color: var(--button-draft-text-color);
}
.draft:hover {
  background-color: var(--button-draft-bg-hover);
}
.delete {
  background-color: var(--button-delete-bg);
  color: var(--button-delete-text-color);
}
.delete:hover {
  background-color: var(--button-delete-bg-hover);
}
.discard {
  background-color: var(--button-discard-bg);
  color: var(--button-discard-text-color);
}
.discard:hover {
  background-color: var(--button-discard-bg-hover);
}
.form {
  width: 100%;
  background-color: var(--button-form-bg);
  color: var(--button-form-text-color);
}
.form:hover {
  background-color: var(--button-form-bg-hover);
}
.bin {
  background-color: inherit;
  margin-top: 1.5rem;
  justify-self: end;
  padding: 0;
  height: auto;
}

.hero {
  width: 18rem;
  height: 3.5rem;
  font-size: 1.2rem;
  animation: button 2.5s forwards infinite;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text-color);
}
.hero:hover {
  background-color: var(--button-primary-bg-hover);
  transform: scale(1.07);
  animation: none;
}

.transparent {
  color: var(--primary-text-color);
  background: transparent;
  border: 1px solid var(--button-primary-bg);
  padding: 0.9rem 1.3rem;
}
.transparent:hover {
  font-size: 0.8rem;
}

@keyframes button {
  0% {
    box-shadow: 0px 0px 8px var(--secondary-text-color-100);
  }
  50% {
    box-shadow: 0px 0px 1px var(--secondary-text-color-100);
  }
  100% {
    box-shadow: 0px 0px 8px var(--secondary-text-color-100);
  }
}
