.dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.pill {
  width: 104px;
  height: 40px;
  border-radius: 7px;
  text-align: center;
}

.pill h4 {
  padding-top: 0.7rem;
}

.Paid {
  color: var(--pill-paid-text-color);
  background-color: var(--pill-paid-bg-color);
}

.Paid .dot {
  background-color: var(--pill-paid-text-color);
}
.Pending {
  color: var(--pill-pending-text-color);
  background-color: var(--pill-pending-bg-color);
}

.Pending .dot {
  background-color: var(--pill-pending-text-color);
}
.Draft {
  color: var(--pill-draft-text-color);
  background-color: var(--pill-draft-bg-color);
}

.Draft .dot {
  background-color: var(--pill-draft-text-color);
}
