.inactive,
.nav ul li p,
.nav ul li a {
  cursor: pointer;
  color: var(--nav-link-color);
  text-decoration: none;
  font-size: 0.9rem;
}
.inactive:hover,
.nav ul li p:hover,
.nav ul li a:hover {
  color: var(--primary-color-100);
  transition: all 200ms ease-in;
}

.active {
  color: var(--primary-color-100) !important;
  transition: all 200ms ease-in;
}

.timer {
  width: 3rem;
  font-size: 0.6rem !important;
}
