@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

/*** Variables ***/

:root {
  /* Colors */

  --primary-color-100: #9277ff;
  --primary-color-200: #7c5dfa;

  --primary-bg-color-100: #ffffff;
  --primary-bg-color-200: #f9fafe;
  --primary-bg-color-300: #f8f8fb;
  --secondary-bg-color: #373b53;
  --hero-background-backdrop: rgba(255, 255, 255, 0.7);

  --primary-text-color: #0c0e16;
  --secondary-text-color-100: #7e88c3;
  --secondary-text-color-200: #858bb2;
  --secondary-text-color-300: #888eb0;

  --nav-line-color: #494e6e;
  --nav-link-color: #f9fafe;
  --backdrop-bg-color: rgba(0, 0, 0, 0.5);
  --form-item-bg-color: #ffffff;
  --form-item-border-color: #dfe3fa;
  --form-login-border-color: #d5c2ee;

  --pill-pending-text-color: rgb(255, 143, 0);
  --pill-pending-bg-color: rgba(255, 143, 0, 0.05);

  --pill-paid-text-color: #33d69f;
  --pill-paid-bg-color: rgba(51, 214, 159, 0.05);

  --pill-draft-text-color: rgb(55, 59, 83);
  --pill-draft-bg-color: rgba(55, 59, 83, 0.05);

  --button-primary-text-color: #ffffff;
  --button-primary-bg: #7c5dfa;
  --button-primary-bg-hover: #9277ff;

  --button-edit-text-color: #7e88c3;
  --button-edit-bg: #f9fafe;
  --button-edit-bg-hover: #dfe3fa;

  --button-draft-text-color: #888eb0;
  --button-draft-bg: #373b53;
  --button-draft-bg-hover: #0c0e16;

  --button-delete-text-color: #ffffff;
  --button-delete-bg: #ec5757;
  --button-delete-bg-hover: #ff9797;

  --button-form-text-color: #7e88c3;
  --button-form-bg: #f9fafe;
  --button-form-bg-hover: #dfe3fa;

  --button-discard-bg: #dfe3fa;
  --button-discard-text-color: #7e88c3;
  --button-discard-bg-hover: #f3f3f3;
}

/* Utility */

[data-theme='dark'] {
  /* Colors */
  --primary-text-color: #ffffff;
  --secondary-text-color-100: #dfe3fa;
  --secondary-text-color-200: #ffffff;
  --secondary-text-color-300: #dfe3fa;

  --primary-bg-color-100: #1e2139;
  --primary-bg-color-300: #141625;
  --hero-background-backdrop: rgba(0, 0, 0, 0.8);

  --form-item-bg-color: #252945;
  --form-item-border-color: #252945;
  --form-bg-color: #141625;

  --button-form-bg: #252945;
  --button-form-text-color: #ffffff;
  --button-form-bg-hover: #373b53;

  --back-button-color: #ffffff;

  --button-edit-text-color: #dfe3fa;
  --button-edit-bg: #252945;
  --button-edit-bg-hover: #ffffff;

  --button-draft-text-color: #dfe3fa;
  --button-draft-bg-hover: #1e2139;
}

/*************** CSS Resets and baseline  ******************/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color-300);
  font-family: 'Spartan', sans-serif !important;
  position: relative;
}
#root {
  min-height: 100vh;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select,
fieldset {
  font: inherit;
}

fieldset {
  border: none;
}
/* No input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/************************************************************/

/* Global styles */
html[data-theme] {
  transition: all 200ms ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.375rem;
  word-spacing: -0.63px;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.375rem;
  word-spacing: -0.63px;
}

h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  word-spacing: -0.8px;
}

h4 {
  font-size: 0.75rem;
  line-height: 0.9rem;
  word-spacing: -0.25px;
}

h4 span {
  color: var(--secondary-text-color-100);
}

h5 {
  margin: 0.75rem 0 0.5rem 0;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  word-spacing: -0.31px;
}
h6 {
  font-size: 0.75rem;
  line-height: 0.9rem;
  word-spacing: -0.25px;
}

p {
  color: var(--secondary-text-color-100);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.975rem;
  word-spacing: -0.25px;
}

.bold {
  font-weight: 700;
}

/* Global Media queries Mobile first */

@media screen and (min-width: 560px) {
  h1 {
    font-size: 2rem;
    line-height: 2.25rem;
    word-spacing: -1px;
  }
}
@media screen and (min-width: 960px) {
  :root {
    --wrapper-padding-top: 8.5rem;
    --max-width: 730px;
    --list-margin-top: 4rem;
  }
}
@media screen and (min-width: 1020px) {
  :root {
    --wrapper-padding-top: 6rem;
    --max-width: 960px;
  }
}
@media screen and (min-width: 1220px) {
  :root {
    --wrapper-padding-top: 7rem;
    --max-width: 1080px;
  }
}
