.detailsHeadImg {
  display: inline-block;
}
.detailsHeadH4 {
  margin: 0 0 1.75rem 1.75rem;
  display: inline-block;
}

.details:hover {
  color: var(--secondary-text-color-100);
  transition: all 200ms ease-in;
  cursor: pointer;
}
