.controls {
  width: 100%;
  height: 91px;
  background-color: var(--primary-bg-color-100);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  margin-top: 3.5rem;
}

.top {
  display: none;
}

@media screen and (min-width: 768px) {
  .top {
    display: flex;
    margin: 0;
    height: 100%;
    justify-content: flex-end;
    width: 70%;
  }
  .bottom {
    display: none;
  }
}
