.auth {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  box-shadow: 1px 1px 5px var(--primary-bg-color-300);
  border-radius: 7px;
  transition: all 200ms ease-in;
  background-color: var(--primary-bg-color-100);
  padding: 1rem;
  text-align: center;
  position: absolute;
  left: 50vw;
  top: 40vh;
  z-index: 100;
  transform: translate(-50%, -50%);
}

.auth h1 {
  text-align: center;
  color: var(--primary-text-color);
  margin: 1rem 0 2rem;
}
.auth p {
  text-align: center;
  color: var(--primary-text-color);
  margin: 2rem 0 0.2rem;
}

.control {
  margin: 1rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 0.7rem;
  border-radius: 5px;
  border: 1px solid var(--form-item-border-color);
  box-shadow: 0px 0px 3px var(--form-login-border-color);
  color: var(--button-draft-bg-hover);
  font-weight: 700;
  font-size: 0.75rem;
  transition: all 200ms ease-in;
  background-color: var(--form-item-bg-color);
  color: var(--primary-text-color);
}

.control input:active,
.control input:hover,
.control input:focus {
  outline: none;
  border: 1px solid var(--primary-color-100);
}

.actions {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actions button {
  margin-top: 1rem;
  width: 60%;
}
