.nav {
  display: flex;
  position: relative;
  top: 0;
  background: var(--secondary-bg-color);
  height: 72px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
}

.nav ul {
  height: 100%;
  display: flex;
}

.nav img {
  cursor: pointer;
}

.nav ul li {
  /* width: 72px; */
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 1px dotted var(--nav-line-color); */
}

.nav ul li a {
  cursor: pointer;
  color: var(--nav-link-color);
  text-decoration: none;
  font-size: 0.9rem;
}
.nav ul li a:hover {
  color: var(--primary-color-100);
  transition: all 200ms ease-in;
  text-decoration: underline;
}

/* .nav li:hover {
  background-color: #1e2139;
} */

.logo {
  cursor: pointer;
  height: 100%;
  width: 72px;
  background-color: var(--primary-color-200);
  position: relative;
  border-radius: 0 25% 25% 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo::after {
  content: '';
  background-color: var(--primary-color-100);
  height: 72px;
  width: 72px;
  z-index: 40;
  position: absolute;
  bottom: -36px;
  left: 0;
  border-radius: 25% 0;
}

.logo img {
  position: relative;
  z-index: 90;
  height: 26px;
  width: 28px;
}

.avatar {
  cursor: pointer;
  border-radius: 50%;
  width: 50%;
}

@media screen and (min-width: 1020px) {
  .nav[data-theme='fluid'] {
    width: 103px;
    height: 100%;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 150;
    border-radius: 0 25px 25px 0;
  }
  .nav[data-theme='fluid'] ul {
    height: 172px;
    width: 100%;
    flex-direction: column;
  }

  .nav[data-theme='fluid'] ul li {
    height: 50%;
    width: 100%;
    position: relative;
    cursor: pointer;
  }

  .nav[data-theme='fluid'] ul li:first-child {
    border-bottom: 1px solid var(--nav-line-color);
  }
  .nav[data-theme='fluid'] .logo {
    height: 103px;
    width: 100%;
  }
  .nav[data-theme='fluid'] .logo::after {
    height: 103px;
    width: 103px;
    bottom: -51px;
  }
  .nav[data-theme='fluid'] .logo img {
    height: 37px;
    width: 40px;
  }
  .nav[data-theme='fluid'] .avatar {
    border-radius: 50%;
    width: 40px;
  }
}
