.nav {
  display: flex;
  background: #373b53;
  height: 72px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 12% 12% 0;
}

a {
  height: 100%;
  width: 72px;
  background-color: #7c5dfa;
  border-radius: 0 15% 15% 0;
}

a img {
  height: 38%;
  width: 40%;
  margin: 33% auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav ul li {
  background-color: #373b53;
  height: 100%;
}

nav ul li img {
  height: 100%;
  width: 100%;
}

nav ul li:first-child img {
  border-right: 1px solid #494e6e;
  padding: 1.6rem;
}

nav ul li:last-child img {
  border-radius: 50%;
  padding: 1.2rem;
}

/* .nav {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #373b53;
  height: 100vh;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 12% 12% 0;
}

a {
  height: 100px;
  width: 100px;
  background-color: #7c5dfa;
  border-radius: 0 15% 15% 0;
}

a img {
  height: 40px;
  width: 40px;
  margin: 30px auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  background-color: #373b53;
  height: 80px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li:last-child {
  border-top: 1px solid #494e6e;
  border-radius: 0 0 15% 0;
}

nav ul li:last-child img {
  border-radius: 50%;
  width: 40px;
} */
