.nav {
  display: flex;
  background: var(--background-color-dark);
  height: 72px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  height: 100%;
  width: 144px;
  display: flex;
}

.nav ul li {
  width: 50%;
  position: relative;
  cursor: pointer;
}

.nav ul li:first-child {
  border-right: 1px solid #494e6e;
}

.nav img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.logo {
  cursor: pointer;
  height: 100%;
  width: 72px;
  background-color: var(--primary-color);
  position: relative;
  border-radius: 0 25% 25% 0;
  z-index: 0;
  overflow: hidden;
}

.logo::after {
  content: '';
  background-color: var(--secondary-color);
  height: 72px;
  width: 72px;
  z-index: 10;
  position: absolute;
  bottom: -36px;
  left: 0;
  border-radius: 25% 0;
}

.logo img {
  margin: auto;
  height: 26px;
  width: 28px;
}

.avatar {
  border-radius: 50%;
  width: 32px;
}
